<div class="messageEntry">
  <% if (user && user.membership) { %>
  <div class="messageTitle">
    <h4><%= message.first_name %> <%= message.last_name %></h4>
    <p><%= message.release_date %></p>
  </div>
  <% } %>
  <div class="content"><p><%= message.content %></p></div>
</div>
