<nav>
  <div class="logo">
    <img src="/icons/logo.svg" alt="logo" />
    <h2>Chirper</h2>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/log-in">Log In</a></li>
    <li><a class="signIn" href="/sign-up">Sign Up</a></li>
  </ul>
</nav>
