<form class="newEntry" action="/newpost" method="POST">
  <textarea
    name="content"
    id="content"
    cols="60"
    placeholder="Enter your message here..."
  ></textarea>
  <input type="submit" value="Submit" />
</form>
