@import url("./styles.css");

.logo {
  display: flex;
  color: var(--secondary-color);
  font-size: 36px;
  gap: 0.5rem;
}

.logo > img {
  display: block;
  width: 64px;
  height: auto;
}

.methodName {
  align-self: center;
}

.go-back {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 2ch;
  box-shadow: 1px 3px 0 2px #0000005d;
  margin-bottom: 1.5rem;
}

.authBg {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.authBlock {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding: 2rem 3rem 3rem 3rem;
  border-radius: 4ch;
  box-shadow: 8px 16px 0 8px #0000005d;
  gap: 0.6rem;
}

.authBlock > label {
  font-weight: 500;
  font-size: 1.2rem;
}

.authBlock > input {
  border-radius: 2ch;
  padding: 0.3rem 1rem;
  border: 2px solid black;
  width: 260px;
}

.authBlock > input:focus {
  outline: none;
  border: 2px solid var(--main-color);
}

.authBlock input[type="submit"] {
  display: flex;
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 2ch;
  box-shadow: 0 4px 0 1px #0000005d;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.alt {
  align-self: center;
  padding-top: 0.5rem;
}

.alt-link {
  color: var(--main-color);
}

.line {
  border-bottom: 1px dotted black;
  width: 100%;
  margin: 1rem 0;
}
