@import url("./styles.css");

footer {
  display: flex;
  background-color: var(--main-color);
  justify-content: center;
  padding: 0.5rem;
  color: var(--secondary-color);
  font-weight: 500;
  width: 100%;
}
