<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/auth.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <title>Sign In</title>
  </head>
  <body>
    <main class="authBg">
      <a href="/">Go Back</a>

      <div class="logo">
        <img src="/icons/logo.svg" alt="logo" />
        <h2>Chirper</h2>
      </div>
      <form class="authBlock" action="/sign-up" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          required
        />

        <input type="submit" value="Submit" />
      </form>
    </main>
  </body>
</html>
