<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="stylesheet" href="styles/message.css" />
    <link rel="icon" href="icons//favicon.png" type="image/png" />

    <title>Chirper</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <main>
      <% if (messages) { %> <% messages.forEach(message => { %> <%-
      include("./partials/message.ejs", { message:message }) %> <% }) %> <% } %>
    </main>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
